/*  Mixin for Media Queries
    How to use: 
    @include respondTo (phone/tablet/desktop/) {
      // responsive code for tablet
       ...
    }    
*/
@mixin respondTo($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @if $breakpoint==large {
        @media only screen and (min-width: 1600px) {
            @content;
        }
    }
}

/*  Mixin for Custom Scroll 
    How to use: 
    @include respond (phone/tablet/desktop/) {
      // responsive code for tablet
       ...
    }    
*/
@mixin customScroll {
    &::-webkit-scrollbar {
        width: 15px;
        background-color: rgba($color: $primary, $alpha: 0);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 10px;
        background-color: $secondary;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: $primary;
    }
}

/*  Mixin for Placeholder 
    How to use: 
    input,  
    textarea {  
    @include placeholder {
        color: $grey;
    }
}
*/
@mixin placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

/*  Mixin for Key Frames
    How to use: 
    @include keyframes(animate) {
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
*/
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

/*  Mixin for Absolute Position
    How to use: 
    @include absolute(100px, 100px, auto, auto)
*/
@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*  Mixin for Shortening a text
    How to use: 
    @include shortenText
*/
@mixin shortenText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin svgColor($svg-color) {
    path {
        fill: $svg-color;
    }
}
