.step {
    padding: 76px 116px;
    position: relative;

    &::before {
        content: url(../../Assets/Image/bg-step-right.png);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;
    }

    @include respondTo(tablet) {
        padding: 76px 43px;
    }
}

.step h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4px;
    margin-bottom: 84px;

    @include respondTo(tablet) {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        letter-spacing: -0.4px;
        color: #14296B;
    }
}


.step button {
    padding: 12px 32px;
    border-radius: 100px;

    @include respondTo(tablet) {
        margin-left: 5rem;
    }
}

.step__information {
    display: grid;
    column-gap: 30px;
    row-gap: 28px;
    grid-template-columns: 50px 60%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 85%;
        width: 2px;
        background: #ebeaed;
        top: 0;
        left: 1.5%;
        z-index: -1;

        @include respondTo(tablet) {
            display: none
        }
    }

    @include respondTo(tablet) {
        display: block;
    }
}

.step__information h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;

    @include respondTo(tablet) {
        display: none;
    }
}

.step__information p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(21, 20, 57, 0.4);

    @include respondTo(tablet) {
        text-align: center;
        margin-bottom: 33px;
    }
}

.illustration {
    margin-top: 64px;
    margin-bottom: 30px;

    div {
        margin-left: 31px;
    }

    .title {
        display: none;

        @include respondTo(tablet) {
            display: flex;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            justify-content: center;
        }
    }

    @include respondTo(tablet) {
        display: block;
        margin-bottom: 9px;
        margin-top: 0px;
        img {
           margin-left: 5.5rem;
           margin-bottom: 14px;
        }
    }
}

.step__btn {
    margin-top: 20px;
}

.step__num {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: rgba(21, 20, 57, 0.4);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-top: -5px;

    @include respondTo(tablet) {
        display: none;
    }
}

.step__num_mobile {
    display: none;
    @include respondTo(tablet) {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: rgba(21, 20, 57, 0.4);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-top: -5px;
        background: #EBEAED;
    }
}

.top__body_tag {
    display: none; 

    @include respondTo(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
    }

    .top__body__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #14296B;
        margin-left: 12px;
    }
}


.step__num.blue {
    background: #d1e1fd;
}

.step__num.orange {
    background: #fcd9d6;
}

.step__num.red {
    background: #f7cade;
}
